// Primary
$primary: #E8BF96;

// Primary Hover
$primary-hover: #b78d5a;

// Secondary
$secondary: #FAF6F3;

// Heading
$heading: #1C1D20;

// Text
$text: #262629;

// Text Hover
$text-hover: #1F2732;

// Border
$border: rgba(254, 254, 254, 0.10);

// Background
$bg: #1C1D20;

// Background Secondary
$bg-secondary: #161D27;

// Gray
$gray: #FAF6F3;

// White
$white: #FFFFFF;

// Success
$success: #198754;

// Warning
$warning: #FFC107;

// Warning Hover
$warning-hover: #ECB014;

// Warning Two
$warning-two: #D1B06B;

// Info
$info: #0DCAF0;

// Danger
$danger: #DC3545;